.actu-container {
  background: no-repeat url("img/landing2.jpg");
  background-size: cover;
  width: 100%;
  padding-top: 100px;

  h1 {
    text-align: center;
    a {
      color: white;
      text-align: center;
      border: 1px solid white;
      margin: 0 30px;
      padding: 8px 25px;
      border-radius: 20px;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      background: white;
      color: black;
      transition: 0.3s ease-in-out;
    }
    a:hover {
      background: none;
      color: white;
    }
  }

  #JdB {
    text-align: center;
    color: white;
    margin: 100px 0 30px;
    text-decoration: underline;
  }
  .grid-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2em;
    margin: 0 100px;
    padding: 50px 0 100px;
  }

  .grid-cards div:nth-child(1) {
    grid-column: 1 / span 3;
  }
  .grid-cards div:nth-child(2) {
    grid-column: 4 / span 1;
  }
  .grid-cards div:nth-child(3) {
    grid-column: 5 / span 3;
  }
  .grid-cards div:nth-child(4) {
    grid-column: 8 / span 1;
  }
  .grid-cards div:nth-child(5) {
    grid-column: 9 / span 3;
  }
  .card {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    max-width: calc(12.5rem + 8vw);

    background: #fff;
    border-radius: 0.75em;
    overflow: hidden;
    transition: transform 270ms ease;
    position: relative;
    border: none !important;
    box-shadow: 0 0.25em 0.6em #0005, 0 0.65em 1em #0004;

    img {
      display: block;
      max-width: 100%;
      object-fit: cover;
      height: auto;
      margin-bottom: 1em;
    }
  }
  .card:hover {
    transform: scale(1.05);
  }

  .anchor {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 64px;
      height: 64px;
    }
  }
  .card-body {
    height: auto;
    padding: 1em 0;

    h3 {
      text-align: left;
      padding-left: 15px;
      color: #457b9d;
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }

    p {
      color: rgb(11, 11, 59);
      font-style: italic;
      font-weight: 700;
      font-size: 13px;
      text-align: center;
      margin: 1em auto;
      padding-inline: 0.5em;
      max-width: 35ch;
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 15px;
      text-decoration: underline;
      display: block;
      text-align: right;
      margin-right: 15px;
    }
  }
  .up-arrow {
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .to-top {
      color: white;
      padding-top: 60px;
      display: block;
      position: relative;
      border-color: white;
      text-decoration: none;
      transition: all 0.3s ease-out;
      font-size: 13px;
      font-weight: 600;
    }
    .to-top:before {
      content: "▲";
      font-size: 38px;
      position: absolute;
      top: 0;
      left: 50%;
      padding-left: 6px;
      margin-left: -25px;
      border: solid 3px black;
      border-radius: 10em;
      width: 55px;
      height: 55px;
      border-color: inherit;
      transition: transform 0.5s ease-in;
    }
    .to-top:hover {
      color: #e63946;
      border-color: #e63946;
    }
    .to-top:hover:before {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 1200px) {
    #JdB {
      margin: 0;
    }

    .grid-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
