.banderole-container {
  display: flex;
  align-items: center;
  margin: 40px 0;
  #moving-text {
    display: flex;
    align-items: center;
    width: 100%;
    background: #222;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow: hidden;
    margin: 0 8px 0 18px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 2em;
      padding-left: 100%; /* placement à droite du conteneur */
      padding-top: 5px;
      padding-bottom: 5px;
      white-space: nowrap; /* pas de passage à la ligne */
      animation: defilement-rtl 15s infinite linear;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 550;
      font-size: 19px;
      color: white;
      max-width: none;
      img {
        height: 70px;
        width: 70px;

        margin: 10px 20px;
      }
    }
  }
}

@keyframes defilement-rtl {
  0% {
    transform: translateX(-100%); /* position initiale à droite */
  }
  100% {
    transform: translateX(0); /* position finale à gauche */
  }
}
