footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #adb5bd;

  h2 {
    margin-left: 30px;
    color: #212529;

    span {
      font-weight: 900;
      font-size: 45px;
      font-family: "Cute Font", sans-serif;
    }
  }
  a {
    color: #343a40;
    font-weight: bold;
  }
  .social-logos {
    margin-right: 30px;
    a {
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  footer {
    height: 110px;

    h2 {
      margin-left: 10px;
      font-size: 15px;
      width: 30%;

      span {
        font-size: 20px;
      }
    }
    a {
      font-size: 12px;
      margin-right: 30px;
    }
    .social-logos {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      a {
        margin: 0 10px;
        width: 25px;
      }
    }
  }
}
