.background1 {
  background-image: url("img/landing1.jpg");
}
.background2 {
  background-image: url("img/landing2.jpg");
}
.background3 {
  background-image: url("img/landing3.jpg");
}
.landing-btn {
  border: 5px solid orangered;
  color: white;
  background: none;
  margin: 20px 0;
  padding: 8px 25px;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease-in-out;
}
.landing-btn:hover {
  background: white;
  border: none;
  color: black;
}

.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: background-image 0.5s ease-in;
  background-size: cover;
  background-position: center;
  z-index: 0;

  .intro {
    position: absolute;
    top: 300px;
    left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
    color: white;
    z-index: 10;
    h1 {
      line-height: 1.3;
      a {
        color: white;
      }
    }
    h2 {
      margin: 25px 0 10px;
    }
    button {
      align-self: center;
    }
  }
}

.landing-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .landing-container {
    .intro {
      top: 200px;
      left: 20px;
      font-size: 14px;
    }
  }
}
.landing-default-container {
  display: flex;
  padding: 200px 0 100px;
  background-color: #fec89a;
  overflow: hidden;
}

//ASSO

.landing-asso-container {
  display: flex;
  padding: 200px 0 100px;
  background-color: #fec89a;
  overflow: hidden;

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 20px;
    font-family: "Montserrat", sans-serif;
    h1 {
      text-align: center;
      font-size: 40px;
      font-weight: 550;

      color: #2f394d;
    }
    p {
      margin: 20px 0;
      color: #2f394d;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
    button {
      a {
        text-decoration: none;
        color: #2f394d;
        transition: 0.3s ease-in-out;
      }
    }
    button:hover {
      color: #246a73;
      border: 2px solid #880d1e;
      a:hover {
        color: #246a73;
      }
    }
  }
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 800px;
      max-height: 800px;
      border-radius: 5px;
      margin: 0 30px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .landing-asso-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 70px;
    .left-side {
      align-items: center;

      button {
        margin: 0;
      }
    }
    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px;
      img {
        position: initial;
        width: 350px;
      }
    }
  }
}

// TECHNIQUE
.descriptif-technique {
  display: block;
  margin: 0 50px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;

  h2 {
    margin: 10px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
  }
  div {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.5;

    p {
      line-height: 1;
      margin: 20px 0;
      .bold {
        font-weight: bold;
      }
    }
  }
  .up-arrow {
    display: flex;
    justify-content: center;

    .to-top {
      color: black;
      padding-top: 60px;
      display: block;
      position: relative;
      border-color: black;
      text-decoration: none;
      transition: all 0.3s ease-in;
      font-size: 13px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
    }
    .to-top:before {
      content: "▲";
      font-size: 35px;
      position: absolute;
      top: 0;
      left: 50%;
      padding-left: 9px;
      margin-left: -25px;
      border: solid 1px black;
      border-radius: 10em;
      width: 55px;
      height: 55px;
      border-color: inherit;
      transition: transform 0.5s ease-in;
    }
    .to-top:hover {
      color: orangered;
      border-color: orangered;
    }
    .to-top:hover:before {
      transform: rotate(360deg);
    }
  }
}

//OBJECTIFS ASSO
.objectifs-asso {
  display: block;
  margin: 0 500px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;

  h2 {
    margin: 10px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
  }
  div {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    p {
      margin: 30px 0;
    }
  }
}

// DONS

.landing-dons-container {
  display: flex;
  padding: 200px 0 100px;
  background-color: #468ab7;
  overflow: hidden;

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    color: #161a22;
  }
  ul {
    list-style: none;
    margin-top: 30px;
    li {
      color: black;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      margin: 30px 0 0;
      position: relative;

      img {
        width: 40px;
        height: 40px;
        position: absolute;
        left: -50px;
        top: -50%;
      }
      .bold {
        font-weight: bold;
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: rgba(yellow, 0.5);
        text-underline-offset: -0.65em;
        text-decoration-thickness: 0.6em;
        text-decoration-skip-ink: none;
      }
    }
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 100px 20px;
    font-family: "Montserrat", sans-serif;
    width: 50%;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 100px 20px;
    font-family: "Montserrat", sans-serif;
  }
}
@media screen and (max-width: 1000px) {
  .landing-dons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 70px;
    .left-side {
      align-items: center;

      button {
        margin: 0;
      }
    }
    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px;
    }
  }
}

//ARTICLES MENSUELS

.article {
  display: block;
  margin: 0 50px;
  padding: 50px;
  background-color: white;
  border-radius: 10px;

  h2 {
    margin: 10px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
  }

  p {
    line-height: 1;
    margin: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    .bold {
      font-weight: bold;
    }
  }
  ul {
    margin-left: 60px;
    li {
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
    }
  }
  img {
    width: 40vw;
    margin: 20px;
  }
}
