.background1 {
  background-image: url("img/landing1.jpg");
}
.background2 {
  background-image: url("img/landing2.jpg");
}
.background3 {
  background-image: url("img/landing3.jpg");
}

.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: background-image 0.5s ease-in;
  background-size: cover;
  background-position: center;
  z-index: 0;

  .intro {
    position: absolute;
    top: 300px;
    left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
    color: white;
    z-index: 10;
    h1 {
      line-height: 1.3;
    }
    h2 {
      margin: 25px 0 10px;
    }

    #landing-btn {
      border: 2px solid orangered;
      color: white;
      background: none;
      margin: 20px 0;
      padding: 8px 25px;
      border-radius: 20px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      transition: 0.3s ease-in-out;
    }
    #landing-btn:hover {
      background: white;
      border: none;
      color: black;
    }
  }
}

.landing-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .landing-container {
    .intro {
      top: 200px;
      left: 20px;
      font-size: 14px;
    }
  }
}
