.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 75px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  .less1000 {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }

  .social-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid white;
    .switch {
      display: inline-block;
      position: relative;
      width: 50px;
      height: 25px;
      cursor: pointer;
      margin: 15px;
      overflow: hidden;
    }
    .switch input {
      position: absolute;
      top: -30px;
      width: 0;
      height: 0;
    }
    .switch input + span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #99b4df;
      border-radius: 20px;
    }
    .switch input + span:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 2px;
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 50%;
      transform: translateY(-50%);
      transition: all 0.5s;
    }

    .switch input + span::after {
      content: "EN";
      display: inline-block;
      position: absolute;
      top: 25%;
      right: 5px;
      font-size: 12px;
      color: white;

      font-weight: 600;
    }
    .switch input:checked + span {
      background: #346abf;
    }
    .switch input:checked + span:before {
      left: 30px;
    }
    .switch input:checked + span:after {
      content: "FR";
      right: 30px;
    }
    a {
      margin: 10px;
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    #logo {
      margin: 20px 10px;
    }

    nav {
      .menu {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 550;

        text-transform: uppercase;
        a {
          margin: 0 15px;
          text-decoration: none;
          cursor: pointer;
          color: white;
        }
        a:after {
          display: block;
          content: "";
          border-bottom: solid 3px white;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          transform-origin: 0% 50%;
        }
        a:hover:after {
          transform: scaleX(1);
        }

        //SOUS MENU

        .dropdown {
          display: flex;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          border-radius: 5px;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
        }

        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        .dropdown-content a:hover {
          background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
          display: block;
          margin-top: 18px;
        }
        .dropdown:active .dropdown-content {
          display: block;
          margin-top: 18px;
        }

        .give-btn {
          border: 1px solid white;
          margin: 0 30px;
          padding: 8px 25px;
          border-radius: 20px;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 600;

          cursor: pointer;
          background: white;
          color: black;
          transition: 0.3s ease-in-out;
        }
        .give-btn:hover {
          background: none;
          color: white;
        }
        .give-btn::after {
          display: none;
        }

        span {
          font-family: "Cute Font", sans-serif;
          font-size: 40px;
        }

        p {
          color: white;
          text-transform: none;
          font-style: italic;
          margin-left: 100px;
          font-size: 20px;

          span {
            font-family: "Cute Font", sans-serif;
            font-size: 50px;
          }
        }
      }
      p {
        color: white;
        font-weight: 550;
        text-transform: none;
        font-style: italic;
        text-align: end;
        font-size: 20px;

        span {
          font-family: "Cute Font", sans-serif;
          font-size: 50px;
        }
      }
    }
  }
}
//MODAL

// #aperoModal {
//   .modal-content {
//     .descriptif-apero {
//       display: flex;
//       flex-direction: column;
//       margin: 10px;

//       h2 {
//         text-align: center;
//         margin: 0 20px 20px;
//       }
//       p {
//         font-size: 20px;
//         font-family: Arial, Helvetica, sans-serif;
//         a {
//           color: #346abf;
//           text-decoration: underline;
//           font-family: Arial, Helvetica, sans-serif;
//           cursor: pointer;
//         }
//       }
//       img {
//         width: 75%;
//         align-self: center;
//         margin: 20px;
//       }
//     }
//   }
// }

@media screen and (max-width: 1144px) {
  .navbar-container {
    padding: 0;

    .navbar {
      justify-content: space-between;
      padding-bottom: 0;

      nav {
        .menu {
          display: none;
        }
        p {
          color: white;
          text-transform: none;
          font-style: italic;
          font-size: 13px;
          text-align: center;
          font-weight: 100;
          span {
            font-family: "Cute Font", sans-serif;
            font-size: 40px;
          }
        }
      }
    }

    .less1000 {
      display: flex;
      position: absolute;
      top: 25px;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      margin-left: 20px;
      z-index: 5;

      .give-btn {
        border: 1px solid white;
        border-radius: 20px;
        margin: 0 20px 0 10px;
        width: 20vw;
        height: 40px;
        padding-top: 10px;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;

        cursor: pointer;
        background: white;
        color: black;
        transition: 0.3s ease-in-out;
      }
      .give-btn:hover {
        background: none;
        color: white;
      }
      .give-btn::after {
        display: none;
      }

      span {
        font-family: "Cute Font", sans-serif;
        font-size: 40px;
      }

      p {
        color: white;
        width: 40vw;
        text-transform: none;
        font-style: italic;
        font-size: 13px;

        text-align: center;

        span {
          font-family: "Cute Font", sans-serif;
          font-size: 40px;
        }
      }
    }

    .hamburger-icon {
      display: block;
      margin: 0 0 0 auto;
      padding: 2px 5px;
      cursor: pointer;
      z-index: 10;
      svg {
        width: 50px;
        height: 50px;
        margin: 25px 30px;
      }
    }

    /* Affiche les liens lorsque l'icône est cliquée */

    .social-container {
      display: none !important;
    }

    .expanded {
      padding-bottom: 200px !important;
      transition: all 0.5s ease;
      nav {
        .menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding-bottom: 10px;
          border: none;
          position: absolute;
          background-color: white;
          top: 100px;
          right: 0;
          z-index: 1;
          opacity: 0; /* Commencez avec une opacité de 0 */
          transform: translateY(-10px); /* Déplacez légèrement vers le haut */
          animation: fadeInUp 0.4s ease forwards; /* Animation d'apparition */
          a {
            font-size: 18px;
            margin: 10px 0 0;
            color: black;
            border-bottom: solid 1px black;
          }
          a:last-of-type {
            margin-bottom: 10px;
          }
          .give-btn {
            display: none;
          }
          p {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1708px) and (min-width: 1145px) {
  .navbar-container {
    padding: 0 30px;
    .navbar {
      nav {
        .menu {
          font-size: 14px;
          a {
            margin: 0 10px;
            text-align: center;
          }
          .give-btn {
            font-size: 13px;
            white-space: pre-wrap;
            text-align: center;
            margin: 0 15px;
            padding: 5px;
            width: 150px;
          }
          p {
            font-size: 18px;
            margin: 10px 0 0 25px;
            span {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1144px) and (min-width: 666px) {
  .navbar-container {
    .less1000 {
      span {
        font-size: 40px;
      }

      p {
        font-size: 25px;
        text-align: end;
        margin-left: 25px;

        span {
          font-size: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .navbar-container {
    .less1000 {
      .give-btn {
        padding-top: 5px;
      }
    }
  }
}

/* Animation fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
