.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  .hamburger-icon {
    display: none;
  }

  .social-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid white;
    .switch {
      display: inline-block;
      position: relative;
      width: 50px;
      height: 25px;
      cursor: pointer;
      margin: 15px;
      overflow: hidden;
    }
    .switch input {
      position: absolute;
      top: -30px;
      width: 0;
      height: 0;
    }
    .switch input + span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #99b4df;
      border-radius: 20px;
    }
    .switch input + span:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 2px;
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 50%;
      transform: translateY(-50%);
      transition: all 0.5s;
    }

    .switch input + span::after {
      content: "EN";
      display: inline-block;
      position: absolute;
      top: 25%;
      right: 5px;
      font-size: 12px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
    }
    .switch input:checked + span {
      background: #346abf;
    }
    .switch input:checked + span:before {
      left: 30px;
    }
    .switch input:checked + span:after {
      content: "FR";
      right: 30px;
    }
    a {
      margin: 10px;
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    #logo {
      margin: 20px 10px;
    }

    nav .menu {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 550;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      a {
        margin: 0 15px;
        text-decoration: none;
        cursor: pointer;
        color: white;
      }
      a:after {
        display: block;
        content: "";
        border-bottom: solid 3px white;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 0% 50%;
      }
      a:hover:after {
        transform: scaleX(1);
      }
      button {
        border: 1px solid white;
        margin: 0 30px;
        padding: 8px 25px;
        border-radius: 20px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        background: white;
        transition: 0.3s ease-in-out;
      }
      button:hover {
        background: none;
        color: white;
      }
      p {
        color: white;
        text-transform: none;
        font-style: italic;
        margin-left: 100px;

        span {
          font-family: "Cute Font", sans-serif;
          font-size: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbar-container {
    padding: 0;
    .navbar {
      justify-content: space-between;
      padding-bottom: 0;

      nav {
        .menu {
          display: none;
        }
      }
    }
    .hamburger-icon {
      display: block;
      margin: 0 0 0 auto;
      cursor: pointer;
      svg {
        width: 50px;
        height: 50px;
        margin: 25px 30px;
      }
    }

    /* Affiche les liens lorsque l'icône est cliquée */

    .social-container {
      display: none !important;
    }

    .expanded {
      padding-bottom: 200px !important;
      transition: all 0.5s ease;
      nav {
        .menu {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          border: none;
          position: absolute;
          background-color: white;
          top: 100px;
          right: 0;
          z-index: 1;
          opacity: 0; /* Commencez avec une opacité de 0 */
          transform: translateY(-10px); /* Déplacez légèrement vers le haut */
          animation: fadeInUp 0.4s ease forwards; /* Animation d'apparition */
          a {
            font-size: 18px;
            margin: 10px 0 0;
            color: black;
            border-bottom: solid 1px black;
          }
        }
      }
    }
  }
}

/* Animation fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
