.newspaper-container {
  margin: 50px 0;
  max-width: 100%;

  h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 50px 0 40px;
  }
  a {
    display: block;
    max-width: 340px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: black;
    background-color: #a8dadc;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
  }

  .flex-news {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .images-container {
      position: relative;
      margin: 30px 0;
      background-color: #f1faee;
      border-radius: 5px;
      padding: 10px;
      width: 40%;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
      overflow: hidden;

      p {
        font-family: Arial, Helvetica, sans-serif;
      }

      .background-image {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        img {
          width: 40%;
          height: auto;
        }
      }
      .background-image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 30%;
        width: 40%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
      }
      .press-article {
        z-index: 10;
        position: absolute;
        top: 25%;
        left: 50%;

        img {
          width: 100%;
          height: auto;
        }
      }
      .newspaper-link-wraper {
        position: absolute;
        top: 90%;
        left: 30%;
        width: 100%;
        height: 100%;
        z-index: 15;
        a {
          display: inline;
          text-decoration: none;
          font-weight: bold;
          padding: 5px;
          color: black;
          background-color: #a8dadc;
          border-radius: 5px;
          cursor: pointer;
          z-index: 10;
        }
      }
      .newspaper-link-outsite {
        position: absolute;
        top: 90%;
        left: 65%;
        width: 100%;
        height: 100%;
        z-index: 15;
        a {
          display: inline;
          text-decoration: none;
          font-weight: bold;
          font-size: 12px;
          padding: 5px;
          color: black;
          background-color: #a8dadc;
          border-radius: 5px;
          cursor: pointer;
          z-index: 10;
        }
      }
      figure {
        margin-top: 40px;
        figcaption {
          margin: 0 0 10px 10px;
          font-weight: bold;
        }
        audio {
          margin: 0 10px;
          width: 80%;
        }
      }

      #franceBleu {
        background-image: url("../img/presse/france-bleu.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 265px;
        width: 265px;
      }
      #radioTotem {
        background-image: url("../img/presse/radiototem.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;
        figure {
          margin-top: 10px;
          figcaption {
            color: white;
            font-size: 12px;
            margin-left: 20px;
            width: 80%;
          }
          audio {
            margin: 20px 10px;
          }
        }
      }
      #radioICI {
        background-image: url("../img/presse/logo_ICI.JPG");
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 300px;
        width: 300px;
        figure {
          margin-top: 100px;
          figcaption {
            color: white;
            font-size: 12px;
            margin-left: 20px;
          }
          audio {
            margin: 10px 10px;
          }
        }
      }
    }
  }
  #press-page {
    height: auto;
  }
}

@media screen and (max-width: "1200px") {
  .newspaper-container {
    h1 {
      font-size: 30px;
    }
    .flex-news {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      margin: 0 30px;

      .images-container {
        width: 100%;

        .background-image {
          justify-content: flex-start;

          margin-left: 20px;
        }
        .background-image::before {
          left: 0;
        }
        .press-article {
          left: 25%;

          img {
            width: 80%;
          }
        }
        .newspaper-link-wraper {
          top: 90%;
          left: 85%;
        }
        .newspaper-link-outsite {
          left: 1%;
        }
      }
    }
  }
}
@media screen and (max-width: "800px") {
  .newspaper-container {
    overflow: visible;
    .flex-news {
      justify-content: flex-start;
      .images-container {
        height: 300px;
        margin: 5px 0;
        overflow: hidden;
        p {
          font-size: 10px;
        }
        .background-image {
          display: none;
        }
        .newspaper-link-wraper {
          top: 5%;
          left: 40%;
          z-index: 5;
        }
        #franceBleu,
        #radioTotem {
          width: 80vw;
          left: 20%;
          top: 20px;
          height: 245px;

          figure {
            figcaption {
              width: 68%;
              font-size: 11px;
            }
            audio {
              width: 60%;
              max-height: 45px;
            }
          }
        }
        #france3 {
          position: absolute;
          top: 15%;
          left: 0;
        }
        #radioICI {
          width: 80vw;
          left: 0%;
          top: 50px;
          height: 245px;

          figure {
            figcaption {
              color: black;
            }
            audio {
              width: 60%;
              max-height: 45px;
            }
          }
        }
        #midivideo {
          position: absolute;
          top: 15%;
          left: 0;
          z-index: 10;
        }
      }
    }
  }
}

//MODAL

#AveyronaisModal {
  .modal-content {
    .descriptif-aveyronais {
      display: flex;
      flex-direction: column;
    }
  }
}

#MidiLibreNovembreModal {
  .modal-content {
    .descriptif-midilibrenovembre {
      display: flex;
      justify-content: center;
    }
  }
}
