.newspaper-container {
  margin: 50px 0;
  max-width: 100%;
  overflow: hidden;

  h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 50px 0 40px;
    font-family: "Montserrat", sans-serif;
  }
  .flex-news {
    display: flex;
    justify-content: center;
    .images-container {
      position: relative;
      width: 45%;
      margin: 30px 0;

      .background-image {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        img {
          width: 50%;
          height: auto;
        }
      }
      .background-image::before {
        content: "";
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
      }
      .press-article {
        z-index: 10;
        position: absolute;
        top: 25%;
        left: 50%;

        img {
          width: 100%;
          height: auto;
        }
      }
      #franceBleu {
        background-image: url("../img/france-bleu.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 265px;
        width: 265px;
        figure {
          margin-top: 40px;
          figcaption {
            margin: 0 0 10px 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
          }
          audio {
            margin: 0 10px;
            width: 80%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: "1200px") {
  .newspaper-container {
    h1 {
      font-size: 30px;
    }
    .flex-news {
      flex-direction: column;
      align-items: flex-start;
      height: 450px;
      .images-container {
        width: 100%;

        .background-image {
          justify-content: flex-start;

          margin-left: 20px;
        }
        .background-image::before {
          left: 0;
        }
        .press-article {
          left: 25%;
          a {
            img {
              width: 80%;
            }
          }
        }
      }
    }
  }
}
