.slider-container,
.slider-trajet-container {
  max-width: 90vw;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  background: #f1faee;
  border-radius: 5px;
  display: grid;
}
.direction-btn,
.direction-trajet-btn {
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background: black;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.direction-btn:hover,
.direction-trajet-btn {
  background: #181818;
}
.direction-btn img,
.direction-trajet-btn img {
  width: 50%;
  pointer-events: none;
}
.direction-btn.right,
.direction-trajet-btn.right {
  right: 3%;
}
.direction-btn.left,
.direction-trajet-btn.left {
  left: 3%;
}

.slide,
.slide-trajet {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: #f1faee;
  display: none;
}
.slide.active,
.slide-trajet.active {
  display: flex;
}
.content {
  margin-bottom: 25px;
  color: #dfdfdf;
  text-align: center;
  p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: gray;
  }
}
.content img {
  width: 65vw;

  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 900px) {
  .direction-btn,
  .direction-trajet-btn {
    width: 25px;
    height: 25px;
  }
  .slider-container,
  .slider-trajet-container {
    max-width: 100%;
  }
  .content {
    margin-bottom: 10px;
  }
}
