.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .up-arrow {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    .to-top {
      color: black;
      padding-top: 60px;
      display: block;
      position: relative;
      border-color: black;
      text-decoration: none;
      transition: all 0.3s ease-out;
      font-size: 13px;
      font-weight: 600;
    }
    .to-top:before {
      content: "▲";
      font-size: 38px;
      position: absolute;
      top: 0;
      left: 50%;
      padding-left: 6px;
      margin-left: -25px;
      border: solid 3px black;
      border-radius: 10em;
      width: 55px;
      height: 55px;
      border-color: inherit;
      transition: transform 0.5s ease-in;
    }
    .to-top:hover {
      color: #e63946;
      border-color: #e63946;
    }
    .to-top:hover:before {
      transform: rotate(360deg);
    }
  }
  .newsletter-container {
    max-width: 35vw;

    form {
      display: flex;
      flex-direction: column;

      label {
        font-style: italic;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        border-bottom: 1px solid black;
      }
      input {
        width: 80%;
        margin: 20px auto;
        height: 30px;
      }

      input::placeholder {
        padding-left: 8px;
        font-style: italic;
      }
      input:valid {
        padding-left: 8px;
      }
      input[type="submit"] {
        width: 50%;
        height: auto;
        margin: 0 auto;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        // background: linear-gradient(
        //   to right,
        //   #d9afd9,
        //   #97d9e1,
        //   #74acc2,
        //   #0a2463
        // );
        background: #a8dadc;
        padding: 10px;
        cursor: pointer;
        background-size: 350% 100%;
        transition: all 0.4s ease-in-out;
        color: #242038;
        text-transform: uppercase;
      }
      input[type="submit"]:hover {
        background-position: 100% 0;
        animation-name: flow;
        animation-duration: 500ms;
        animation-timing-function: linear;
        color: white;
      }
    }
  }
}
@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

@media screen and (max-width: 650px) {
  .contact-container {
    .newsletter-container {
      h4 {
        font-size: 18px;
      }
      form {
        label {
          font-size: 17px;
        }
        input {
          width: 90%;
        }

        input::placeholder {
          padding-left: 2px;
        }

        input[type="submit"] {
          font-size: 15px;
          width: 100%;
        }
      }
    }
  }
}

//PAGE CONTACT

.landing-contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 200px 0 100px;
  background-color: #a8dadc;
  overflow: hidden;
  h4 {
    font-size: 23px;
    font-weight: bold;
    margin: 30px 0;
    color: black;
    text-align: center;
  }
  span {
    color: rgb(11, 11, 59);
    font-style: italic;
  }
  .formulaire {
    margin: 50px 25px;
    width: 50vw;
    .formulaire-header {
      width: 100%;
      h1 {
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .formulaire-body {
      width: 100%;
      // background: linear-gradient(to right, #0433b4, #5f89fc);
      background-color: #f1faee;
      // background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);

      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

      form {
        border-radius: 3px;
        padding: 50px;
        margin: 25px auto;
        display: grid;
        grid-gap: 10px;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        max-width: 70vw;

        div {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;

          label {
            position: relative;
            align-self: flex-start;
            margin-bottom: 5px;
            font-size: 17px;
            font-weight: 600;

            span {
              position: absolute;
              top: -13px;
              right: -10px;
              font-weight: bold;
              font-size: 22px;
            }
          }
          input[type="text"],
          input[type="email"],
          input[type="tel"] {
            align-self: flex-start;
            width: 15vw;
            height: 30px;
            border-radius: 5px solid black;
          }
          ::placeholder {
            font-size: 18px;
            font-weight: 550;
            font-family: "Long Cang", cursive, sans-serif;
          }
          :valid {
            font-size: 17px;
            padding-left: 10px;
          }

          textarea {
            width: 100%;
            height: 150px;
          }
          p {
            font-weight: 400;
            font-size: 18px;
            align-self: flex-start;
          }
          input[type="submit"] {
            margin: 40px auto 0px;
            width: 300px;
            border: 1px solid #ddd;

            font-weight: bold;
            text-transform: uppercase;
            padding: 18px;
            border-radius: 5px;
            cursor: pointer;
            background: #a8dadc;

            background-size: 350% 100%;
            transition: all 0.4s ease-in-out;
            color: #242038;
          }
          input[type="submit"]:hover {
            background-position: 100% 0;
            animation-name: flow;
            animation-duration: 500ms;
            animation-timing-function: linear;
            color: white;
          }
        }
        #textArea {
          align-items: flex-start;
        }
        div:nth-child(1) {
          grid-column: 1/2;
        }
        div:nth-child(2) {
          grid-column: 2/2;
        }
        div:nth-child(3) {
          grid-column: 1/2;
        }
        div:nth-child(4) {
          grid-column: 2/2;
        }
        div:nth-child(5) {
          grid-column: 1 / span 2;
        }
        div:nth-child(6) {
          grid-column: 1 / span 2;
        }
        div:nth-child(7) {
          grid-column: 1 / span 2;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .landing-contact-container {
    h4 {
      font-size: 18px;
      margin: 0 10px;
    }
    .formulaire {
      width: 90vw;
      .formulaire-body {
        form {
          padding: 10px;
          div {
            label {
              margin: 5px 0;
              font-size: 12px;
              span {
                top: -10px;
                right: -10px;
                font-size: 18px;
              }
            }
            input[type="text"],
            input[type="email"],
            input[type="tel"] {
              width: 100%;
              height: 30px;
            }
            ::placeholder {
              font-size: 9px;
            }
            :valid {
              font-size: 12px;
            }

            textarea {
              width: 100%;
              height: 150px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
