.contact-container {
  width: 100%;
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;

  .contact-gauche {
    grid-column: span 6;

    .modal {
      margin: 50px 25px;
      .modal-header {
        width: 100%;
        h1 {
          font-size: 30px;
          text-align: center;
          margin: 20px 0;
          text-transform: uppercase;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
      .modal-body {
        width: 100%;
        // background: linear-gradient(to right, #0433b4, #5f89fc);
        background-color: #d9afd9;
        background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);

        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        form {
          border-radius: 3px;
          padding: 50px;
          margin: 25px auto;
          display: grid;
          grid-gap: 10px;
          justify-items: center;
          grid-template-columns: repeat(2, 1fr);
          max-width: 70vw;

          div {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            label {
              position: relative;
              align-self: flex-start;
              margin-bottom: 5px;
              font-size: 17px;
              font-family: "Times New Roman", Times, serif;
              span {
                position: absolute;
                top: -13px;
                right: -10px;
                font-weight: bold;
                font-size: 22px;
              }
            }
            input[type="text"],
            input[type="email"],
            input[type="tel"] {
              align-self: flex-start;
              width: 15vw;
              height: 30px;
              border-radius: 5px;
              border: none;
            }
            ::placeholder {
              font-size: 18px;
              font-weight: 550;
              font-family: "Long Cang", cursive, sans-serif;
            }
            :valid {
              font-family: Arial, Helvetica, sans-serif;
              font-size: 17px;
              padding-left: 10px;
            }

            textarea {
              width: 100%;
              height: 150px;
            }
            p {
              font-weight: 400;
              font-size: 18px;
              align-self: flex-start;
            }
            input[type="submit"] {
              margin: 40px auto 0px;
              width: 300px;
              border: 1px solid #ddd;
              background: #ffa500;
              color: #fff;
              font-weight: bold;
              text-transform: uppercase;
              padding: 18px;
              border-radius: 5px;
              cursor: pointer;
            }
            input[type="submit"]:hover {
              transition: all 0.3s ease;
              background: #f88562;
              border-color: #f88562;
            }
          }
          #textArea {
            align-items: flex-start;
          }
          div:nth-child(1) {
            grid-column: 1/2;
          }
          div:nth-child(2) {
            grid-column: 2/2;
          }
          div:nth-child(3) {
            grid-column: 1/2;
          }
          div:nth-child(4) {
            grid-column: 2/2;
          }
          div:nth-child(5) {
            grid-column: 1 / span 2;
          }
          div:nth-child(6) {
            grid-column: 1 / span 2;
          }
          div:nth-child(7) {
            grid-column: 1 / span 2;
          }
        }
      }
    }
  }
  .up-arrow {
    grid-column: span 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .to-top {
      color: black;
      padding-top: 60px;
      display: block;
      position: relative;
      border-color: black;
      text-decoration: none;
      transition: all 0.3s ease-out;
      font-size: 13px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
    }
    .to-top:before {
      content: "▲";
      font-size: 38px;
      position: absolute;
      top: 0;
      left: 50%;
      padding-left: 6px;
      margin-left: -25px;
      border: solid 3px black;
      border-radius: 10em;
      width: 55px;
      height: 55px;
      border-color: inherit;
      transition: transform 0.5s ease-in;
    }
    .to-top:hover {
      color: orangered;
      border-color: orangered;
    }
    .to-top:hover:before {
      transform: rotate(360deg);
    }
  }
  .contact-droite {
    grid-column: span 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h4 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 23px;
      font-weight: bold;
      margin: 30px 0;
      color: black;
      text-align: center;
    }
    span {
      color: rgb(11, 11, 59);
      font-style: italic;
    }
    form {
      display: flex;
      flex-direction: column;

      label {
        font-style: italic;
        font-size: 20px;
        font-family: sans-serif;
        border-bottom: 1px solid black;
      }
      input {
        width: 80%;
        margin: 20px auto;
        height: 30px;
      }

      input::placeholder {
        padding-left: 8px;
        font-style: italic;
      }
      input:valid {
        padding-left: 8px;
      }
      button {
        width: 50%;
        margin: 0 auto;
        font-size: 18px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        background-color: #d9afd9;
        background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact-gauche {
      .modal {
        .modal-body {
          form {
            padding: 10px;
            div {
              label {
                margin: 5px 0;
                font-size: 15px;
                span {
                  top: -13px;
                  right: -10px;
                  font-size: 18px;
                }
              }
              input[type="text"],
              input[type="email"],
              input[type="tel"] {
                width: 100%;
                height: 30px;
              }
              ::placeholder {
                font-size: 12px;
              }
              :valid {
                font-size: 12px;
              }

              textarea {
                width: 100%;
                height: 150px;
              }
              p {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    .contact-droite {
      h4 {
        font-size: 18px;
      }
      form {
        label {
          font-size: 17px;
        }
        input {
          width: 90%;
        }

        input::placeholder {
          padding-left: 2px;
        }
        input:valid {
          padding-left: 2px;
        }
        button {
          font-size: 15px;
        }
      }
    }
  }
}
