*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100%;
}

@import "navbar";
@import "landing";
@import "presentation";
@import "actu";
@import "slider";
@import "newspaper";
@import "contact";
@import "banderole";
@import "footer";
