@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 75px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.navbar-container .less1000 {
  display: none;
}
.navbar-container .hamburger-icon {
  display: none;
}
.navbar-container .social-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border-bottom: 1px solid white;
}
.navbar-container .social-container .switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  cursor: pointer;
  margin: 15px;
  overflow: hidden;
}
.navbar-container .social-container .switch input {
  position: absolute;
  top: -30px;
  width: 0;
  height: 0;
}
.navbar-container .social-container .switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #99b4df;
  border-radius: 20px;
}
.navbar-container .social-container .switch input + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.navbar-container .social-container .switch input + span::after {
  content: "EN";
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 5px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}
.navbar-container .social-container .switch input:checked + span {
  background: #346abf;
}
.navbar-container .social-container .switch input:checked + span:before {
  left: 30px;
}
.navbar-container .social-container .switch input:checked + span:after {
  content: "FR";
  right: 30px;
}
.navbar-container .social-container a {
  margin: 10px;
}
.navbar-container .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-container .navbar #logo {
  margin: 20px 10px;
}
.navbar-container .navbar nav .menu {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 550;
  text-transform: uppercase;
}
.navbar-container .navbar nav .menu a {
  margin: 0 15px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.navbar-container .navbar nav .menu a:after {
  display: block;
  content: "";
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}
.navbar-container .navbar nav .menu a:hover:after {
  transform: scaleX(1);
}
.navbar-container .navbar nav .menu .dropdown {
  display: flex;
}
.navbar-container .navbar nav .menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navbar-container .navbar nav .menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbar-container .navbar nav .menu .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.navbar-container .navbar nav .menu .dropdown:hover .dropdown-content {
  display: block;
  margin-top: 18px;
}
.navbar-container .navbar nav .menu .dropdown:active .dropdown-content {
  display: block;
  margin-top: 18px;
}
.navbar-container .navbar nav .menu .give-btn {
  border: 1px solid white;
  margin: 0 30px;
  padding: 8px 25px;
  border-radius: 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.3s ease-in-out;
}
.navbar-container .navbar nav .menu .give-btn:hover {
  background: none;
  color: white;
}
.navbar-container .navbar nav .menu .give-btn::after {
  display: none;
}
.navbar-container .navbar nav .menu p {
  color: white;
  text-transform: none;
  font-style: italic;
  margin-left: 100px;
  font-size: 20px;
}
.navbar-container .navbar nav .menu p span {
  font-family: "Cute Font", sans-serif;
  font-size: 50px;
}

@media screen and (max-width: 1144px) {
  .navbar-container {
    padding: 0;
    /* Affiche les liens lorsque l'icône est cliquée */
  }
  .navbar-container .navbar {
    justify-content: space-between;
    padding-bottom: 0;
  }
  .navbar-container .navbar nav .menu {
    display: none;
  }
  .navbar-container .less1000 {
    display: flex;
    position: absolute;
    top: 25px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
  }
  .navbar-container .less1000 .give-btn {
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 20px 0 10px;
    width: 20vw;
    height: 40px;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    background: white;
    color: black;
    transition: 0.3s ease-in-out;
  }
  .navbar-container .less1000 .give-btn:hover {
    background: none;
    color: white;
  }
  .navbar-container .less1000 .give-btn::after {
    display: none;
  }
  .navbar-container .less1000 p {
    color: white;
    width: 40vw;
    text-transform: none;
    font-style: italic;
    font-size: 13px;
    text-align: center;
  }
  .navbar-container .less1000 p span {
    font-family: "Cute Font", sans-serif;
    font-size: 30px;
  }
  .navbar-container .hamburger-icon {
    display: block;
    margin: 0 0 0 auto;
    cursor: pointer;
  }
  .navbar-container .hamburger-icon svg {
    width: 50px;
    height: 50px;
    margin: 25px 30px;
  }
  .navbar-container .social-container {
    display: none !important;
  }
  .navbar-container .expanded {
    padding-bottom: 200px !important;
    transition: all 0.5s ease;
  }
  .navbar-container .expanded nav .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border: none;
    position: absolute;
    background-color: white;
    top: 100px;
    right: 0;
    z-index: 1;
    opacity: 0; /* Commencez avec une opacité de 0 */
    transform: translateY(-10px); /* Déplacez légèrement vers le haut */
    animation: fadeInUp 0.4s ease forwards; /* Animation d'apparition */
  }
  .navbar-container .expanded nav .menu a {
    font-size: 18px;
    margin: 10px 0 0;
    color: black;
    border-bottom: solid 1px black;
  }
  .navbar-container .expanded nav .menu a:last-of-type {
    margin-bottom: 10px;
  }
  .navbar-container .expanded nav .menu .give-btn {
    display: none;
  }
  .navbar-container .expanded nav .menu p {
    display: none;
  }
}
@media screen and (max-width: 1708px) and (min-width: 1145px) {
  .navbar-container {
    padding: 0 30px;
  }
  .navbar-container .navbar nav .menu {
    font-size: 14px;
  }
  .navbar-container .navbar nav .menu a {
    margin: 0 10px;
    text-align: center;
  }
  .navbar-container .navbar nav .menu .give-btn {
    font-size: 13px;
    white-space: pre-wrap;
    text-align: center;
    margin: 0 15px;
    padding: 5px;
    width: 150px;
  }
  .navbar-container .navbar nav .menu p {
    font-size: 18px;
    margin: 10px 0 0 25px;
  }
  .navbar-container .navbar nav .menu p span {
    font-size: 40px;
  }
}
@media screen and (max-width: 1144px) and (min-width: 666px) {
  .navbar-container .less1000 p {
    font-size: 25px;
    text-align: end;
    margin-left: 25px;
  }
  .navbar-container .less1000 p span {
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  .navbar-container .less1000 .give-btn {
    padding-top: 5px;
  }
}
/* Animation fadeInUp */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.background1 {
  background-image: url("img/landing/landing1.jpg");
}

.background2 {
  background-image: url("img/landing/landing2.jpg");
}

.background3 {
  background-image: url("img/landing/landing3.jpg");
}

.background4 {
  background-image: url("img/landing/landing4.jpg");
}

.background5 {
  background-image: url("img/landing/landing5.jpg");
}

.background6 {
  background-image: url("img/landing/landing6.jpg");
}

.background7 {
  background-image: url("img/landing/landing7.jpg");
}

.background8 {
  background-image: url("img/landing/landing8.jpg");
}

.landing-btn {
  border: 5px solid #e63946;
  color: white;
  background: none;
  margin: 20px 0;
  padding: 8px 25px;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.landing-btn:hover {
  background: white;
  border: none;
  color: black;
}

.landing-container {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  transition: background-image 0.5s ease-in;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.landing-container .intro {
  position: absolute;
  top: 300px;
  left: 15vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 25px;
  font-weight: 550;
  color: white;
  z-index: 10;
}
.landing-container .intro h1 {
  line-height: 1.3;
}
.landing-container .intro h1 a {
  color: white;
}
.landing-container .intro h2 {
  margin: 25px 0 10px;
}
.landing-container .intro button {
  align-self: center;
}

.landing-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .landing-container .intro {
    top: 200px;
    left: 20px;
    font-size: 14px;
  }
}
.landing-default-container {
  display: flex;
  padding: 200px 0 100px;
  background-color: #a8dadc;
  overflow: hidden;
}
.landing-default-container .descriptif-technique {
  padding: 0 20px;
}

@media screen and (max-width: 1000px) {
  .landing-default-container {
    display: block;
  }
}
.landing-asso-container {
  display: flex;
  padding: 200px 0 100px;
  background-color: #a8dadc;
  overflow: hidden;
}
.landing-asso-container .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 20px;
}
.landing-asso-container .left-side h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 550;
  color: black;
}
.landing-asso-container .left-side p {
  margin: 20px 0;
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.landing-asso-container .left-side button a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}
.landing-asso-container .left-side button a:hover {
  color: black;
}
.landing-asso-container .right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-asso-container .right-side img {
  max-width: 800px;
  max-height: 800px;
  border-radius: 5px;
  margin: 0 30px;
}

.objectifs-asso {
  background-color: #a8dadc;
  padding: 50px 0;
}
.objectifs-asso div {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  padding: 50px;
  border-radius: 10px;
  background-color: #f1faee;
}
.objectifs-asso div h2 {
  margin: 10px;
  text-align: center;
  text-decoration: underline;
}
.objectifs-asso div div {
  font-size: 18px;
}
.objectifs-asso div div p {
  margin: 20px 0;
  font-family: "Times New Roman", Times, serif;
}

.give-btn-asso-container {
  background-color: #a8dadc;
  padding: 30px 0 50px;
  display: flex;
  justify-content: center;
}
.give-btn-asso-container .give-btn {
  text-decoration: none;
  border: 1px solid white;
  margin: 0 30px;
  padding: 8px 25px;
  border-radius: 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  background: white;
  color: black;
  transition: 0.3s ease-in-out;
}
.give-btn-asso-container .give-btn:hover {
  background: none;
  color: white;
}
.give-btn-asso-container .give-btn::after {
  display: none;
}

@media screen and (max-width: 1350px) {
  .landing-asso-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 150px;
  }
  .landing-asso-container .left-side {
    align-items: center;
  }
  .landing-asso-container .left-side button {
    margin: 0;
  }
  .landing-asso-container .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  .landing-asso-container .right-side img {
    position: initial;
    width: 60vw;
  }
  .objectifs-asso div {
    margin: 0 50px;
    padding: 15px;
  }
  .objectifs-asso div div {
    font-size: 16px;
  }
  .objectifs-asso div div p {
    margin: 10px 0;
  }
}
@media screen and (max-width: 800px) {
  .objectifs-asso {
    padding: 0 0 50px;
  }
  .objectifs-asso div div {
    font-size: 16px;
    padding: 0;
    margin: 5px;
  }
  .objectifs-asso div div p {
    margin: 10px 0;
  }
}
.landing-rd-container {
  display: flex;
  padding: 200px 0 100px;
  background-color: #a8dadc;
  overflow: hidden;
}
.landing-rd-container .rd-container {
  display: block;
  margin: 0 50px;
  padding: 50px;
  background-color: #f1faee;
  border-radius: 10px;
}
.landing-rd-container .rd-container h1 {
  margin: 10px 10px 25px 10px;
  text-align: start;
  font-size: 25px;
  background-color: #f1faee;
  color: black;
  padding: 0;
}
.landing-rd-container .rd-container h3 {
  margin: 20px;
  text-align: start;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.landing-rd-container .rd-container h3 a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #205677;
  text-decoration: underline;
  cursor: pointer;
}
.landing-rd-container .rd-container ul li {
  margin: 20px 0 20px 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.landing-rd-container .rd-container ul li a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #205677;
  text-decoration: underline;
  cursor: pointer;
}
.landing-rd-container .rd-container ul p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.landing-rd-container .rd-container ul .sargasses-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-rd-container .rd-container ul .sargasses-img img {
  width: 35vw;
  margin: 10px 20px;
}
.landing-rd-container .rd-container ul .cetaces-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-rd-container .rd-container ul .cetaces-img img {
  width: 35vw;
  margin: 10px 20px;
}
@media screen and (max-width: 1000px) {
  .landing-rd-container {
    padding-top: 150px;
  }
  .landing-rd-container .rd-container {
    margin: 0 20px;
    padding: 50px 20px;
  }
  .landing-rd-container .rd-container h3 {
    font-size: 15px;
  }
  .landing-rd-container .rd-container h3 a {
    font-size: 15px;
  }
  .landing-rd-container .rd-container ul li {
    font-size: 15px;
  }
  .landing-rd-container .rd-container ul li a {
    font-size: 15px;
  }
  .landing-rd-container .rd-container ul p {
    font-size: 15px;
  }
  .landing-rd-container .rd-container ul .sargasses-img {
    flex-direction: column;
  }
  .landing-rd-container .rd-container ul .sargasses-img img {
    width: 50vw;
  }
}

.landing-quisuisje-container {
  padding: 200px 0 100px;
  background-color: #a8dadc;
  overflow: hidden;
}
.landing-quisuisje-container div {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}
.landing-quisuisje-container div img {
  width: 80%;
  margin: 30px auto;
  border-radius: 5px;
}
.landing-quisuisje-container div h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.landing-quisuisje-container div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.landing-quisuisje-container div div img {
  margin: 0 10px;
  width: 45%;
  border-radius: 5px;
}
.landing-quisuisje-container div h2 {
  font-size: 22px;
  margin: 20px 25px 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.8;
}
.landing-quisuisje-container div h2 span {
  font-weight: 900;
  font-size: 30px;
}
.landing-quisuisje-container .up-arrow {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-quisuisje-container .up-arrow .to-top {
  color: black;
  padding-top: 60px;
  display: block;
  position: relative;
  border-color: black;
  text-decoration: none;
  transition: all 0.3s ease-out;
  font-size: 13px;
  font-weight: 600;
}
.landing-quisuisje-container .up-arrow .to-top:before {
  content: "▲";
  font-size: 38px;
  position: absolute;
  top: 0;
  left: 50%;
  padding-left: 6px;
  margin-left: -25px;
  border: solid 3px black;
  border-radius: 10em;
  width: 55px;
  height: 55px;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.landing-quisuisje-container .up-arrow .to-top:hover {
  color: #e63946;
  border-color: #e63946;
}
.landing-quisuisje-container .up-arrow .to-top:hover:before {
  transform: rotate(360deg);
}
.landing-quisuisje-container .contact-container .newsletter-container form input[type=submit] {
  background: #f1faee;
}
.landing-quisuisje-container .contact-container .newsletter-container form input[type=submit]:hover {
  color: #161a22;
}

@media screen and (max-width: 800px) {
  .landing-quisuisje-container {
    padding: 150px 0 100px;
  }
  .landing-quisuisje-container div {
    margin: 20px 0px;
  }
  .landing-quisuisje-container div h2 {
    font-size: 18px;
    margin: 20px 15px;
    line-height: 1.8;
  }
  .landing-quisuisje-container div h2 span {
    font-weight: 900;
    font-size: 30px;
  }
}
.landing-dons-container {
  display: flex;
  padding: 150px 0 100px;
  background-color: #468ab7;
  overflow: hidden;
}
.landing-dons-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 550;
  color: #161a22;
}
.landing-dons-container h2 {
  align-self: flex-start;
  font-size: 21px;
  margin-top: 60px;
}
.landing-dons-container h3 {
  margin-top: 80px;
  margin-left: 20px;
  text-align: center;
  width: 70%;
}
.landing-dons-container ul {
  list-style: none;
  margin-top: 10px;
}
.landing-dons-container ul li {
  color: black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 30px 0 0;
  position: relative;
}
.landing-dons-container ul li img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -50px;
  top: -10%;
}
.landing-dons-container ul li .bold {
  font-weight: bold;
}
.landing-dons-container ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 0, 0.5);
  text-underline-offset: -0.65em;
  text-decoration-thickness: 0.6em;
  text-decoration-skip-ink: none;
}
.landing-dons-container .photo-corner {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 10%;
  left: 5%;
}
.landing-dons-container #photo-corner-right {
  width: 150px;
}
.landing-dons-container .left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 100px 20px;
  background-color: #f1faee;
  border-radius: 5px;
  padding: 40px 60px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.landing-dons-container .right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 50%;
  background-color: #f1faee;
  border-radius: 5px;
  padding: 40px 60px;
  margin: 100px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media screen and (max-width: 1250px) {
  .landing-dons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 70px;
  }
  .landing-dons-container .left-side {
    width: 90%;
  }
  .landing-dons-container .right-side {
    width: 90%;
    margin: 30px;
  }
}
@media screen and (max-width: 700px) {
  .landing-dons-container h2 {
    margin-top: 25px;
    font-size: 20px;
  }
  .landing-dons-container h3 {
    margin-top: 30px;
  }
  .landing-dons-container .photo-corner {
    position: relative;
    margin-top: 20px;
  }
}
#landing-donsasso {
  justify-content: center;
}

.article {
  display: block;
  margin: 0 50px;
  padding: 50px;
  background-color: #f1faee;
  border-radius: 10px;
}
.article #titleJdB {
  margin: 10px 10px 25px 10px;
  text-align: start;
  font-size: 25px;
  background-color: #f1faee;
  color: black;
  padding: 0;
}
.article h2 {
  margin: 10px;
  text-align: start;
  text-decoration: underline;
}
.article p {
  line-height: 1;
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.article p .bold {
  font-weight: bold;
}
.article p span {
  color: #1d3557;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 600;
}
.article ul {
  margin-left: 60px;
}
.article ul li {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.article .articles-images {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article .articles-images div {
  display: flex;
}
.article .articles-images div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article .articles-images div div img {
  width: 35vw;
  margin: 10px 20px;
}
.article .articles-images div div h3 {
  margin: 0 0 20px 25px;
  max-width: 60%;
  align-self: self-start;
}
.article a {
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 30px auto 0;
  width: 300px;
  background-color: #457b9d;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}
.article a:hover {
  background-color: #205677;
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .article {
    margin: 0 20px;
  }
  .article .articles-images div {
    flex-direction: column;
  }
  .article .articles-images div div img {
    width: 50vw;
  }
  .article .articles-images div div h3 {
    font-size: 15px;
  }
}
.landing-default-container .newspaper-container {
  margin: 0;
}
.landing-default-container .newspaper-container h1 {
  font-weight: 600;
}
.landing-default-container .newspaper-container .flex-news .images-container #franceBleu {
  height: 240px;
}

@media screen and (max-width: 800px) {
  #landingPressPage {
    display: block;
  }
}
.presentation-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}
.presentation-container .left-side div {
  display: grid;
  grid-template-columns: 1fr;
}
.presentation-container .left-side div img {
  border-radius: 50%;
  width: 200px;
  margin: 40px auto;
}
.presentation-container .left-side div h2 {
  font-size: 21px;
  margin: 20px 25px 50px;
  text-align: center;
}
.presentation-container .left-side .itineraire h1 {
  text-align: center;
}
.presentation-container .left-side .itineraire img {
  width: 75%;
  border-radius: 5px;
}
.presentation-container .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}
.presentation-container .right-side h2 {
  font-size: 25px;
  font-weight: 600;
  margin: 30px 0;
}
.presentation-container .right-side img {
  width: 498px;
  border-radius: 20px;
}
.presentation-container .right-side div {
  display: flex;
  align-items: center;
  margin: 30px 0 10px -20px;
}
.presentation-container .right-side div img {
  width: 50px;
  margin: 0 20px;
}
.presentation-container .right-side div p {
  font-weight: 600;
}
.presentation-container .right-side div p a {
  color: black;
}

@media screen and (max-width: 1500px) {
  .presentation-container {
    grid-template-columns: 1fr; /* Une colonne pour les écrans de moins de 700px */
  }
  .presentation-container .left-side {
    width: 100%;
  }
  .presentation-container .left-side div img {
    width: 200px;
  }
  .presentation-container .left-side div h2 {
    font-size: 18px;
  }
  .presentation-container .left-side div h2 span {
    font-size: 25px;
  }
  .presentation-container .right-side {
    margin-bottom: 10px;
    margin-top: 0;
  }
  .presentation-container .right-side h2 {
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
  }
  .presentation-container .right-side img {
    width: 80%;
    margin: 10px;
  }
  .presentation-container .right-side div {
    margin: 30px 0;
  }
  .presentation-container .right-side div img {
    width: 52px;
    margin: 0 20px;
  }
  .presentation-container .right-side div p {
    font-size: 14px;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 15; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #f1faee;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content .descriptif-technique {
  margin: 0 50px;
  padding: 50px;
  background-color: #f1faee;
  border-radius: 10px;
}
.modal-content .descriptif-technique h2 {
  margin: 10px;
  text-align: start;
  text-decoration: underline;
}
.modal-content .descriptif-technique div {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}
.modal-content .descriptif-technique div p {
  line-height: 1;
  margin: 20px 0;
  font-family: "Times New Roman", Times, serif;
}
.modal-content .descriptif-technique div p .bold {
  font-weight: bold;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .modal-content {
    padding: 5px;
  }
  .modal-content .descriptif-technique {
    padding: 10px 0;
  }
  .modal-content .descriptif-technique h2 {
    font-size: 20px;
  }
  .modal-content .descriptif-technique div {
    font-size: 15px;
  }
}
.actu-container {
  background: no-repeat url("img/landing2.jpg");
  background-size: cover;
  width: 100%;
  padding-top: 100px;
}
.actu-container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.actu-container h1 a {
  color: white;
}
.actu-container #JdB {
  text-align: center;
  color: white;
  margin: 100px 0 30px;
  text-decoration: underline;
}
.actu-container .grid-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2em;
  margin: 0 100px;
  padding: 50px 0 100px;
}
.actu-container .grid-cards div:nth-child(1) {
  grid-column: 1/span 3;
}
.actu-container .grid-cards div:nth-child(2) {
  grid-column: 4/span 1;
}
.actu-container .grid-cards div:nth-child(3) {
  grid-column: 5/span 3;
}
.actu-container .grid-cards div:nth-child(4) {
  grid-column: 8/span 1;
}
.actu-container .grid-cards div:nth-child(5) {
  grid-column: 9/span 3;
}
.actu-container .card {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: calc(12.5rem + 8vw);
  background: #fff;
  border-radius: 0.75em;
  overflow: hidden;
  transition: transform 270ms ease;
  position: relative;
  border: none !important;
  box-shadow: 0 0.25em 0.6em rgba(0, 0, 0, 0.3333333333), 0 0.65em 1em rgba(0, 0, 0, 0.2666666667);
}
.actu-container .card img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  margin-bottom: 1em;
}
.actu-container .card:hover {
  transform: scale(1.05);
}
.actu-container .anchor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actu-container .anchor img {
  width: 64px;
  height: 64px;
}
.actu-container .card-body {
  height: auto;
  padding: 1em 0;
}
.actu-container .card-body h3 {
  text-align: left;
  padding-left: 15px;
  color: #457b9d;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.actu-container .card-body p {
  color: rgb(11, 11, 59);
  font-style: italic;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  margin: 1em auto;
  padding-inline: 0.5em;
  max-width: 35ch;
}
.actu-container .card-body a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
  display: block;
  text-align: right;
  margin-right: 15px;
}
.actu-container .up-arrow {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actu-container .up-arrow .to-top {
  color: white;
  padding-top: 60px;
  display: block;
  position: relative;
  border-color: white;
  text-decoration: none;
  transition: all 0.3s ease-out;
  font-size: 13px;
  font-weight: 600;
}
.actu-container .up-arrow .to-top:before {
  content: "▲";
  font-size: 38px;
  position: absolute;
  top: 0;
  left: 50%;
  padding-left: 6px;
  margin-left: -25px;
  border: solid 3px black;
  border-radius: 10em;
  width: 55px;
  height: 55px;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.actu-container .up-arrow .to-top:hover {
  color: #e63946;
  border-color: #e63946;
}
.actu-container .up-arrow .to-top:hover:before {
  transform: rotate(360deg);
}
@media screen and (max-width: 1200px) {
  .actu-container #JdB {
    margin: 0;
  }
  .actu-container .grid-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slider-container {
  max-width: 90vw;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  background: #f1faee;
  border-radius: 5px;
  display: grid;
}

.direction-btn {
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background: black;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.direction-btn:hover {
  background: #181818;
}

.direction-btn img {
  width: 50%;
  pointer-events: none;
}

.direction-btn.right {
  right: 3%;
}

.direction-btn.left {
  left: 3%;
}

.slide {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: #f1faee;
  display: none;
}

.slide.active {
  display: flex;
}

.content {
  margin-bottom: 25px;
  color: #dfdfdf;
  text-align: center;
}
.content p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: gray;
}

.content img {
  width: 65vw;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 900px) {
  .direction-btn {
    width: 25px;
    height: 25px;
  }
  .slider-container {
    max-width: 100%;
  }
  .content {
    margin-bottom: 10px;
  }
}
.newspaper-container {
  margin: 50px 0;
  max-width: 100%;
}
.newspaper-container h1 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin: 50px 0 40px;
}
.newspaper-container .flex-news {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 80vh;
}
.newspaper-container .flex-news .images-container {
  position: relative;
  margin: 30px 0;
  background-color: #f1faee;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  overflow: hidden;
}
.newspaper-container .flex-news .images-container .background-image {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.newspaper-container .flex-news .images-container .background-image img {
  width: 40%;
  height: auto;
}
.newspaper-container .flex-news .images-container .background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  width: 40%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}
.newspaper-container .flex-news .images-container .press-article {
  z-index: 10;
  position: absolute;
  top: 25%;
  left: 50%;
}
.newspaper-container .flex-news .images-container .press-article img {
  width: 100%;
  height: auto;
}
.newspaper-container .flex-news .images-container .newspaper-link-wraper {
  position: absolute;
  top: 90%;
  left: 30%;
  width: 100%;
  height: 100%;
  z-index: 15;
}
.newspaper-container .flex-news .images-container .newspaper-link-wraper a {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  color: black;
  background-color: #a8dadc;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}
.newspaper-container .flex-news .images-container figure {
  margin-top: 40px;
}
.newspaper-container .flex-news .images-container figure figcaption {
  margin: 0 0 10px 10px;
  font-weight: bold;
}
.newspaper-container .flex-news .images-container figure audio {
  margin: 0 10px;
  width: 80%;
}
.newspaper-container .flex-news .images-container #franceBleu {
  background-image: url("../img/presse/france-bleu.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 265px;
  width: 265px;
}
.newspaper-container .flex-news .images-container #radioTotem {
  background-image: url("../img/presse/radiototem.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 265px;
  width: 265px;
}
.newspaper-container .flex-news .images-container #radioTotem figure {
  margin-top: 20px;
}
.newspaper-container .flex-news .images-container #radioTotem figure figcaption {
  color: white;
  font-size: 12px;
  margin-left: 20px;
}
.newspaper-container .flex-news .images-container #radioTotem figure audio {
  margin: 20px 10px;
}

@media screen and (max-width: 1200px) {
  .newspaper-container h1 {
    font-size: 30px;
  }
  .newspaper-container .flex-news {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin: 0 30px;
  }
  .newspaper-container .flex-news .images-container {
    width: 100%;
  }
  .newspaper-container .flex-news .images-container .background-image {
    justify-content: flex-start;
    margin-left: 20px;
  }
  .newspaper-container .flex-news .images-container .background-image::before {
    left: 0;
  }
  .newspaper-container .flex-news .images-container .press-article {
    left: 25%;
  }
  .newspaper-container .flex-news .images-container .press-article img {
    width: 80%;
  }
  .newspaper-container .flex-news .images-container .newspaper-link-wraper {
    top: 90%;
    left: 85%;
  }
}
@media screen and (max-width: 800px) {
  .newspaper-container {
    overflow: visible;
  }
  .newspaper-container .flex-news {
    justify-content: flex-start;
  }
  .newspaper-container .flex-news .images-container {
    height: 300px;
    margin: 5px 0;
    overflow: hidden;
  }
  .newspaper-container .flex-news .images-container .background-image {
    display: none;
  }
  .newspaper-container .flex-news .images-container .newspaper-link-wraper {
    top: 10%;
    left: 40%;
  }
  .newspaper-container .flex-news .images-container #franceBleu,
  .newspaper-container .flex-news .images-container #radioTotem {
    width: 80vw;
    left: 20%;
    top: 10px;
    height: 245px;
  }
  .newspaper-container .flex-news .images-container #franceBleu figure audio,
  .newspaper-container .flex-news .images-container #radioTotem figure audio {
    width: 60%;
    max-height: 45px;
  }
}
#AveyronaisModal .modal-content .descriptif-aveyronais {
  display: flex;
  flex-direction: column;
}

.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.contact-container .up-arrow {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container .up-arrow .to-top {
  color: black;
  padding-top: 60px;
  display: block;
  position: relative;
  border-color: black;
  text-decoration: none;
  transition: all 0.3s ease-out;
  font-size: 13px;
  font-weight: 600;
}
.contact-container .up-arrow .to-top:before {
  content: "▲";
  font-size: 38px;
  position: absolute;
  top: 0;
  left: 50%;
  padding-left: 6px;
  margin-left: -25px;
  border: solid 3px black;
  border-radius: 10em;
  width: 55px;
  height: 55px;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.contact-container .up-arrow .to-top:hover {
  color: #e63946;
  border-color: #e63946;
}
.contact-container .up-arrow .to-top:hover:before {
  transform: rotate(360deg);
}
.contact-container .newsletter-container {
  max-width: 35vw;
}
.contact-container .newsletter-container form {
  display: flex;
  flex-direction: column;
}
.contact-container .newsletter-container form label {
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid black;
}
.contact-container .newsletter-container form input {
  width: 80%;
  margin: 20px auto;
  height: 30px;
}
.contact-container .newsletter-container form input::placeholder {
  padding-left: 8px;
  font-style: italic;
}
.contact-container .newsletter-container form input:valid {
  padding-left: 8px;
}
.contact-container .newsletter-container form input[type=submit] {
  width: 50%;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background: #a8dadc;
  padding: 10px;
  cursor: pointer;
  background-size: 350% 100%;
  transition: all 0.4s ease-in-out;
  color: #242038;
  text-transform: uppercase;
}
.contact-container .newsletter-container form input[type=submit]:hover {
  background-position: 100% 0;
  animation-name: flow;
  animation-duration: 500ms;
  animation-timing-function: linear;
  color: white;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
@media screen and (max-width: 650px) {
  .contact-container .newsletter-container h4 {
    font-size: 18px;
  }
  .contact-container .newsletter-container form label {
    font-size: 17px;
  }
  .contact-container .newsletter-container form input {
    width: 90%;
  }
  .contact-container .newsletter-container form input::placeholder {
    padding-left: 2px;
  }
  .contact-container .newsletter-container form input[type=submit] {
    font-size: 15px;
    width: 100%;
  }
}
.landing-contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 200px 0 100px;
  background-color: #a8dadc;
  overflow: hidden;
}
.landing-contact-container h4 {
  font-size: 23px;
  font-weight: bold;
  margin: 30px 0;
  color: black;
  text-align: center;
}
.landing-contact-container span {
  color: rgb(11, 11, 59);
  font-style: italic;
}
.landing-contact-container .formulaire {
  margin: 50px 25px;
  width: 50vw;
}
.landing-contact-container .formulaire .formulaire-header {
  width: 100%;
}
.landing-contact-container .formulaire .formulaire-header h1 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.landing-contact-container .formulaire .formulaire-body {
  width: 100%;
  background-color: #f1faee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.landing-contact-container .formulaire .formulaire-body form {
  border-radius: 3px;
  padding: 50px;
  margin: 25px auto;
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  max-width: 70vw;
}
.landing-contact-container .formulaire .formulaire-body form div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.landing-contact-container .formulaire .formulaire-body form div label {
  position: relative;
  align-self: flex-start;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
}
.landing-contact-container .formulaire .formulaire-body form div label span {
  position: absolute;
  top: -13px;
  right: -10px;
  font-weight: bold;
  font-size: 22px;
}
.landing-contact-container .formulaire .formulaire-body form div input[type=text],
.landing-contact-container .formulaire .formulaire-body form div input[type=email],
.landing-contact-container .formulaire .formulaire-body form div input[type=tel] {
  align-self: flex-start;
  width: 15vw;
  height: 30px;
  border-radius: 5px solid black;
}
.landing-contact-container .formulaire .formulaire-body form div ::placeholder {
  font-size: 18px;
  font-weight: 550;
  font-family: "Long Cang", cursive, sans-serif;
}
.landing-contact-container .formulaire .formulaire-body form div :valid {
  font-size: 17px;
  padding-left: 10px;
}
.landing-contact-container .formulaire .formulaire-body form div textarea {
  width: 100%;
  height: 150px;
}
.landing-contact-container .formulaire .formulaire-body form div p {
  font-weight: 400;
  font-size: 18px;
  align-self: flex-start;
}
.landing-contact-container .formulaire .formulaire-body form div input[type=submit] {
  margin: 40px auto 0px;
  width: 300px;
  border: 1px solid #ddd;
  font-weight: bold;
  text-transform: uppercase;
  padding: 18px;
  border-radius: 5px;
  cursor: pointer;
  background: #a8dadc;
  background-size: 350% 100%;
  transition: all 0.4s ease-in-out;
  color: #242038;
}
.landing-contact-container .formulaire .formulaire-body form div input[type=submit]:hover {
  background-position: 100% 0;
  animation-name: flow;
  animation-duration: 500ms;
  animation-timing-function: linear;
  color: white;
}
.landing-contact-container .formulaire .formulaire-body form #textArea {
  align-items: flex-start;
}
.landing-contact-container .formulaire .formulaire-body form div:nth-child(1) {
  grid-column: 1/2;
}
.landing-contact-container .formulaire .formulaire-body form div:nth-child(2) {
  grid-column: 2/2;
}
.landing-contact-container .formulaire .formulaire-body form div:nth-child(3) {
  grid-column: 1/2;
}
.landing-contact-container .formulaire .formulaire-body form div:nth-child(4) {
  grid-column: 2/2;
}
.landing-contact-container .formulaire .formulaire-body form div:nth-child(5) {
  grid-column: 1/span 2;
}
.landing-contact-container .formulaire .formulaire-body form div:nth-child(6) {
  grid-column: 1/span 2;
}
.landing-contact-container .formulaire .formulaire-body form div:nth-child(7) {
  grid-column: 1/span 2;
}

@media screen and (max-width: 800px) {
  .landing-contact-container h4 {
    font-size: 18px;
    margin: 0 10px;
  }
  .landing-contact-container .formulaire {
    width: 90vw;
  }
  .landing-contact-container .formulaire .formulaire-body form {
    padding: 10px;
  }
  .landing-contact-container .formulaire .formulaire-body form div label {
    margin: 5px 0;
    font-size: 12px;
  }
  .landing-contact-container .formulaire .formulaire-body form div label span {
    top: -10px;
    right: -10px;
    font-size: 18px;
  }
  .landing-contact-container .formulaire .formulaire-body form div input[type=text],
  .landing-contact-container .formulaire .formulaire-body form div input[type=email],
  .landing-contact-container .formulaire .formulaire-body form div input[type=tel] {
    width: 100%;
    height: 30px;
  }
  .landing-contact-container .formulaire .formulaire-body form div ::placeholder {
    font-size: 9px;
  }
  .landing-contact-container .formulaire .formulaire-body form div :valid {
    font-size: 12px;
  }
  .landing-contact-container .formulaire .formulaire-body form div textarea {
    width: 100%;
    height: 150px;
  }
  .landing-contact-container .formulaire .formulaire-body form div p {
    font-size: 12px;
  }
}
.banderole-container {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.banderole-container #moving-text {
  display: flex;
  align-items: center;
  width: 100%;
  background: #457b9d;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: hidden;
  margin: 0 8px 0 18px;
}
.banderole-container #moving-text div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
  padding-left: 100%; /* placement à droite du conteneur */
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap; /* pas de passage à la ligne */
  animation: defilement-rtl 35s infinite linear;
  font-weight: 550;
  font-size: 19px;
  color: #f1faee;
  max-width: none;
}
.banderole-container #moving-text div a {
  text-decoration: none;
  margin: 0 50px;
  width: 100px;
}
.banderole-container #moving-text div a img {
  margin: 10px 20px;
}

@keyframes defilement-rtl {
  0% {
    transform: translateX(-100%); /* position initiale à droite */
  }
  100% {
    transform: translateX(0); /* position finale à gauche */
  }
}
@media screen and (max-width: 800px) {
  .banderole-container #moving-text div {
    font-size: 15px;
  }
  .banderole-container #moving-text div a {
    margin: 0 20px;
    width: 60px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #1d3557;
}
footer h2 {
  margin-left: 30px;
  color: #f1faee;
}
footer h2 span {
  font-weight: 900;
  font-size: 45px;
  font-family: "Cute Font", sans-serif;
}
footer a {
  color: #f1faee;
  font-weight: bold;
  margin-left: 25px;
}
footer .social-logos {
  margin-right: 30px;
}
footer .social-logos a {
  margin: 0 10px;
}

@media screen and (max-width: 800px) {
  footer {
    height: 110px;
  }
  footer h2 {
    margin-left: 10px;
    font-size: 15px;
    width: 30%;
  }
  footer h2 span {
    font-size: 20px;
  }
  footer a {
    font-size: 12px;
    margin-right: 30px;
  }
  footer .social-logos {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
  footer .social-logos a {
    margin: 0 10px;
    width: 25px;
  }
}
.footer-default-container .docs-asso {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-default-container .docs-asso h2 {
  margin-bottom: 10px;
}
.footer-default-container .docs-asso a {
  margin: 4px 0;
}

@media screen and (max-width: 800px) {
  .footer-default-container .docs-asso h2 {
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
    width: 60%;
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
